.menuList{
    list-style: none;
    height: fit-content;
    padding: 0px 0px;
    width: 162px;
    background-color: #2F302C;
    color: white;
    border: 0.5px solid #D3D2D2;
    border-radius: 8px;
    font-weight: 400;
}
.menuLi{
    display: none;
    padding: 10px;
}
.menuLi:hover{
    background-color: #EEEEEE;
    color: #000;
}
@media (max-width:1700px){
    .menu-9{
        display: block;;
    }
}
@media (max-width:1600px){
    .menu-8{
        display: block;;
    }
}
@media (max-width:1450px){
    .menu-7{
        display: block;;
    }
}
@media (max-width:1330px){
    .menu-6{
        display: block;;
    }
}
@media (max-width:1250px){
    .menu-5{
        display: block;;
    }
}
@media (max-width:1140px){
    .menu-4{
        display: block;;
    }
}
@media (max-width:1045px){
    .menu-3{
        display: block;;
    }
}
@media (max-width:940px){
    .menu-2{
        display: block;;
    }
}
@media (max-width:840px){
    .menu-1{
        display: block;;
    }
}
@media (max-width:750px){
    .menu-0{
        display: block;;
    }
}