.home{
    margin-top: 5vh;
    margin-bottom: 3vh;
    padding: 0 0.5vw;
}
.heading{
    font-size: 4em;
    font-weight: 800 ;
    color: black;
    line-height: 0px;
}
.subheading{
    font-size: 1.5em;
    font-weight: 400 ;
    color: black;
    margin-top: -2.5vh;
    margin-bottom: 5.5vh;
}
@media (max-width : 550px) {
    .heading{
        font-size:2.8em;
        line-height: 0.9em;
    }
    .subheading{
        margin-bottom: 5vh;
        margin-top: -4vh;
        font-size: 1.2em;
    }


}