.navbar{
    background-color: #2F302C;
    color: white;
    width: 100vw;
    height: 7.375em;
    padding: 0em 2em;
}
.Logo-Text{
    font-weight: 800;
    font-size: 2em;
    line-height: 0.625em;
}
.Navbar-Content{
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25em;
}
.tabs{
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}
.search-logo{
 display: block;  
 position: absolute; 
 padding-left: 6px;
}
.search-box{
    background-color: #2F302C;
    
    min-width: 20.25em;
    min-height: 2.75em;
    padding: 0.4em;
    outline: none;
    color:white;
    font-size: 1em;
    padding-left: 45px;

}

.search-bar{
    position: relative;
    width: fit-content;

}
.min-w{
    min-width: 5em;
}
.menu{
    top: 75px;
    left: 0px;
    
}