.navbar{
    background-color: #2F302C;
    color: white;
    width: 100vw;
    height: 118ox;
    padding: 0em 32px;
}
.Logo-Text{
    font-weight: 800;
    font-size: 2em;
    line-height: 0.625em;
}
.Navbar-Content{
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25em;
}
.tabs{
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-logo{
 display: block;  
 position: absolute; 
 padding-left: 6px;
}
.search-box{
    background-color: #2F302C;
    
    min-width: 160px;
    width: 200px;
    min-height: 44px;
    padding: 0.4em;
    outline: none;
    color:white;
    font-size: 1em;
    padding-left: 45px;

}

.search-bar{
    position: relative;
    width: fit-content;
    margin-right: 50px;

}
.moreHidden{
    display: none;
}
.min-w{
    min-width: 80px;
}
.menu{
    top: 62px;
    left: 0px;
    z-index: 10001;
    
}
@media (max-width:1700px){
    .tab-9{
        display: none;
        
    }
    .moreHidden{
        display: flex;
    }
}
@media (max-width:1600px){
    .tab-8{
        display: none;;
    }
}
@media (max-width:1450px){
    .tab-7{
        display: none;;
    }
}
@media (max-width:1330px){
    .tab-6{
        display: none;;
    }
}
@media (max-width:1250px){
    .tab-5{
        display: none;;
    }
}
@media (max-width:1140px){
    .tab-4{
        display: none;;
    }
}
@media (max-width:1045px){
    .tab-3{
        display: none;;
    }
}
@media (max-width:940px){
    .tab-2{
        display: none;;
    }
}
@media (max-width:840px){
    .tab-1{
        display: none;;
    }
}
@media (max-width:750px){
    .tab-0{
        display: none;;
    }
}
.arrowMobile{
    display: none;
}
@media (max-width:720px){
    .Logo-Text{
        font-size: 1.2em;
    }
    .search-box{
         min-width: 100px;
         width: 150px;
         min-height: 30px;
         font-size: 0.7em;
         padding-left: 35px;
        
    }
    .arrowMobile{
        display: block;
    }
    .arrowWindow{
        display: none;
    }
    .more{
        font-size: 0.7em;
    }
    .navbar{
        padding: 0em 5px;
    }
    .search-bar{
        position: relative;
        width: fit-content;
        margin-right: 15px;
    
    }
    .menu{
        top: 45px;
        left: 0px;
        
        
    }
   
}