.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* commonly used classes */
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.item-center{
  align-items: center;
}
.w-fit{
  width: fit-content;
}
.h-fit{
  height: fit-content;
}
.uppercase{
  text-transform: uppercase;
}
.pointer{
  cursor: pointer;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.hidden{
  display: none;
}
.block{
  display: block;
}
.justify-center{
  justify-content: center;
}
.mx-auto{
  margin:0 auto ;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.text-center{
  text-align: center;
}