@font-face {
  font-family: 'Lato';
  src: url('../public/Fonts/Lato/Lato-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Lato';
  src: url('../public/Fonts/Lato/Lato-Bold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Lato';
  src: url('../public/Fonts/Lato/Lato-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url('../public/Fonts/Lato/Lato-Thin.ttf');
  font-weight: 100;
}
body {
  margin: 0;
  font-family: "Lato";
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
